body{
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  background-color: #f7f7f7;
  background: url('bg.jpg');
  background-repeat: no-repeat;
  background-position: top center;
  
  
  
}

h1{
  font-weight: 400;
  color: rgb(69, 66, 66);
}

.container {
  background-color: rgb(255, 255, 255, 0.3);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  margin-top: 50px;
  text-align: center;
  max-width: 600px;
  border-radius: 5px;
  padding: 20px;
 
}
form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

form input[type="text"] {
  padding: 10px;
  background-color: transparent;
  border: none;
  border-bottom: 1px rgba(128, 128, 128, 0.567) solid;
  margin-right: 20px;
  outline: none;
  font-size: 18px;
  width:60%;
  font-weight: 300;
  font-family: "Montserrat", sans-serif;
  border-radius: 0;
  


}

form input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s ease;
  font-weight: 300;
  font-family: "Montserrat", sans-serif;
}

form input[type="submit"]:hover {
  background-color: #0062cc;
  box-shadow: 0 8px 20px rgb(0 94 203 / 0.5);
  transform: translateY(-2px);
}

form input[type="submit"]:active {
  background-color: #0047a3;
  box-shadow: 0 4px 12px rgb(0 71 163 / 0.45);
  transform: translateY(0);
}

.icon img {
  width: 100px;
  height: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.temperature {
  font-size: 40px;
  font-weight: bold;
  margin: 20px 0;
  color: rgb(0 71 163);
}

.description{
    font-size: 24px;
    margin-bottom: 20px;
}

.details{
    display: flex;
    justify-content: center;
    text-align: center;
    
}

.details > div{
    padding: 20px;
    background-color: #f1f1f1;
    margin: 10px;
    flex: 1;
    border-radius: 5px;
    text-align: center;
    min-height: 45px;
    
}

@media  (max-width: 500px) {
  form{
    flex-direction: column;
    
  }
    form input[type="text"]{
        text-align: center;
        margin-bottom: 10px;
    }
  .container{
    margin: 0;
  }
}

.description{
  font-weight: 600;
  font-family: "Mozilla Text", sans-serif;
}

.details{
  font-weight: 400;
  font-family: "Mozilla Text", sans-serif;
  
}

